<div style="text-align: center;">
    <h2>
        <form action="/submitimage" enctype="multipart/form-data" method="POST">
        <label for="formFile" class="form-label mt-4">Upload an image to fry with your caption.</label>
        <input class="form-control" type="file" name="submission">
        <div class="form-group">
          <label for="exampleInputPassword1" class="form-label mt-4">Alternatively, put an image URL here.</label>
          <input type="text" class="form-control" name="url" placeholder="url">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </h2>

    (Image should be less than ~250 KB)

</div>
